@font-face {
  font-family: 'Roller Girl';
  src: url('../src/assets/ROLLERGI.TTF');
}

@font-face {
  font-family: 'Adam';
  src: url('../src/assets/Adam-Bold.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7baba !important;
  font-family: 'Adam', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.middle {
  /* text-align: center; */
  padding: 15px;
}

.container {
  height: 100vh;
}

.text-cntr {
  text-align: center;
}